# Скопируй этот файл в .env и заполни значения
# НЕ КОММИТЬ .env в Git!

B2_KEY_ID=00316ae8d6577fc0000000001
B2_APP_KEY=K003hoYDkATtF2lGiG1KnPM+7Tqv+Vc
B2_BUCKET=goalcut-videos
B2_ENDPOINT=https://s3.eu-central-003.backblaze2.com
